@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@media screen and (max-width: 800px) {
    * {
        font-family: 'Saira', sans-serif;
    }
    body {
        padding: 0;
        margin: 0;
        background: black;
        justify-content: center;
        align-items: center;
        font-family: 'Saira', sans-serif;
    }
    #header {
        background: white;
        display: flex;
        flex-flow: row;
        width: 100vw;
        height: 10vh;
        align-items: center;
    }
    #back {
        margin: 1vh;
        border: 3px solid black;
        border-radius: 50%;
        width: 6vh;
        height: 6vh;
    }
    #arrow {
        position: absolute;
        font-size: 6vh;
        color: black;
    }
    #logo {
        position: absolute;
        left: 19%;
    }
    form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        color: white;
    }
    #email,
    #title {
        margin: 4%;
        width: 90vw;
        height: 5vh;
        border-radius: 15px;
    }
    #add_photo {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row;
        font-size: 10vw;
        margin-bottom: -5%;
    }
    #add_photo p {
        margin-left: 30%;
    }
    #img {
        position: absolute;
        top: 36.5%;
        left: 12%;
        font-size: 8vh;
        color: white;
    }
    #kreska {
        width: 100vw;
        height: .2vh;
        background: white;
    }
    #Photo {
        width: 90vw;
        height: 10vh;
    }
    #button {
        margin-top: 10%;
        display: flex;
        flex-flow: row;
    }
    .btn {
        width: 45vw;
        height: 9vh;
        margin: 2.5vw;
        border-radius: 15px;
        font-size: 6vh;
    }
    #Photo {
        display: none;
    }
    .custom-file-upload {
        color: black;
        background: white;
        border-radius: 15px;
        text-align: center;
        border: 2px solid white;
        margin-top: 5%;
        width: 90vw;
        height: 30vh;
        cursor: pointer;
    }
     ::placeholder {
        font-size: 3vh;
    }
}