@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@media screen and (max-width: 450px) {
    * {
      margin: 0;
      padding: 0;
      font-family: 'Saira', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    body
    {
        background-color: black;
        overflow: hidden;
        margin: 0;
      padding: 0;
        
    }
   
    #menu
    {
        width: 100%;
        height: 15vh;
        background-color: white;
        display: flex;
        align-items: center;
        
    }
    #contact-container
    {
        width: 100%;
        height: 85vh;
        background-color: black;

    }
   
    #menu #back
    {
        width: 70px;
        height: 70px;
    }
 
    #title p
    {
        font-family: 'Saira', sans-serif;
        font-style: normal;
        font-weight: normal;
        color: white;
        font-size: 4vh;
    }
    #contact span
    {
        color: white;
        
        
    }
    .content
    {
        font-size: 4vh;
    }
   
    #contact
    {
        
        width: 100%;
        height: 60vh;
        border-bottom: 5px white solid;
        display: flex;
        align-items: center;
        
        
        
        
        
    }
    #logo
    {
        max-width: 100%;
        max-height: 100%;
    }
   #media
   {
       
       width: 100%;
       height: 14vh;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   #media i
   {
        color: white;
        font-size: 8vh;
        margin: 8vw;
   }
    #call,
    #place,
    #mail
    {
        width: 100%;
        height: 15vh;
        
        display: flex;
        align-items: center;
    }
    .material-icons
    {
        
        font-size: 10vh;
    }
   #title
   {
       width: 100%;
       height: 10vh;
       background-color: black;
       display: flex;
       justify-content: center;
       align-items: center;
       border-bottom: white 4px solid;
   }
  }