@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');
@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 0;
        background: black;
        font-family: 'Saira', sans-serif;
        justify-content: center;
        align-items: center;
    }
    #header {
        background: white;
        display: flex;
        flex-flow: row;
        width: 100vw;
        height: 10vh;
        align-items: center;
    }
    #back {
        margin: 1vh;
        border: 3px solid black;
        border-radius: 50%;
        width: 6vh;
        height: 6vh;
    }
    #arrow {
        position: absolute;
        font-size: 6vh;
        color: black;
    }
    #logo {
        position: absolute;
        left: 19%;
    }
    #main {
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100vw;
        height: auto;
    }
    #img {
        width: 90vw;
        height: 35vh;
        padding: 0;
        margin: 0;
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6vh;
    }
    p {
        padding: 0;
        margin: 0;
    }
    #photo {
        width: 90vw;
        height: 30vh;
        border-radius: 15px;
    }
    #star {
        margin-top: -5%;
        color: rgba(255, 216, 43, 0.699);
        width: 100vw;
        height: auto;
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .star {
        font-size: 8vh;
    }
    #form {
        width: 100vw;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    form {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 90vw;
        height: 25vh;
    }
    #form input {
        border-radius: 15px;
        width: 90vw;
        height: 5vh;
        margin-bottom: 2.5vh;
    }
    #wyslij {
        border-radius: 15px;
        width: 90vw;
        height: 5vh;
        margin-bottom: 2.5vh;
        font-size: 2.5vh;
        color: grey;
    }
     ::placeholder {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 4vh;
    }
    #komentarze {
        width: 90vw;
        min-height: 20vh;
        max-height: 20vh;
        overflow: scroll;
        background-color: white;
        border-radius: 15px;
        border: 2px solid black;
    }
    .com {
        padding: 1%;
        margin: 1%;
        border: 2px solid black;
        border-radius: 15px;
    }
    .date {
        text-align: left;
    }
    .content {
        text-align: left;
        font-size: 2.5vh;
    }
}